<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="red">Red</span> <span class="black">Alert</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">

                <% if (user) { %>
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <% if (user.user_type == "administrator") { %>
                        <li class="nav-item"><a class="nav-link" href="/map/administrator">Map (Secure)</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
                    <% } %>
                    <li class="nav-item"><a class="nav-link" href="/discussion">Discussion Board</a></li>
                    <li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
                </ul>
                <% } else { %>
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/prices">Subscriptions</a></li>
                    <li class="nav-item"><a class="nav-link" href="/discussion">Discussion Board</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>
                </ul>
                <% } %>
            
                <ul class="navbar-nav ms-auto mt-2">
                    <% if (user) { %>
                    <li class="nav-item"><a class="nav-link"> welcome, <%= user.username %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    <% } %>
                </ul>
            
        </div>
    </div>
</nav>
